In [99]:
import pandas as pd
csv_file = 'worldcup2011.csv'

In [100]:
df = pd.read_csv(csv_file)

In [101]:
df.head(20)

,in,ball,batsmen,bowler,non_striker,runs,extras,total,wicket,kind,player_out,innings,Team,match_no
0,0,0.1,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
1,1,0.2,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
2,2,0.3,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
3,3,0.4,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
4,4,0.5,WU Tharanga,Z Khan,TM Dilshan,0,1,1,0,,,1,Sri Lanka,49
5,5,0.6,TM Dilshan,Z Khan,WU Tharanga,0,1,1,0,,,1,Sri Lanka,49
6,6,1.1,TM Dilshan,S Sreesanth,WU Tharanga,0,0,0,0,,,1,Sri Lanka,49
7,7,1.2,TM Dilshan,S Sreesanth,WU Tharanga,1,1,2,0,,,1,Sri Lanka,49
8,8,1.3,WU Tharanga,S Sreesanth,TM Dilshan,1,0,1,0,,,1,Sri Lanka,49
9,9,1.4,TM Dilshan,S Sreesanth,WU Tharanga,0,0,0,0,,,1,Sri Lanka,49
10,10,1.5,TM Dilshan,S Sreesanth,WU Tharanga,2,0,2,0,,,1,Sri Lanka,49
11,11,1.6,TM Dilshan,S Sreesanth,WU Tharanga,0,0,0,0,,,1,Sri Lanka,49
12,12,1.7,TM Dilshan,S Sreesanth,WU Tharanga,0,0,0,0,,,1,Sri Lanka,49
13,13,2.1,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
14,14,2.2,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
15,15,2.3,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
16,16,2.4,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
17,17,2.5,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
18,18,2.6,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
19,19,3.1,TM Dilshan,S Sreesanth,WU Tharanga,1,0,1,0,,,1,Sri Lanka,49

In [102]:
df.describe()

,in,ball,runs,extras,total,wicket,innings,match_no
count,26036.000000,26036.000000,26036.000000,26036.000000,26036.000000,26036.000000,26036.000000,26036.000000
mean,139.298279,22.626206,0.767629,0.051736,0.819365,0.028077,1.454640,25.393916
std,84.204532,13.751013,1.217820,0.331168,1.232295,0.165195,0.497948,14.244147
min,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,67.000000,10.600000,0.000000,0.000000,0.000000,0.000000,1.000000,13.000000
50%,136.000000,22.200000,0.000000,0.000000,0.000000,0.000000,1.000000,26.000000
75%,208.000000,34.100000,1.000000,0.000000,1.000000,0.000000,2.000000,38.000000
max,318.000000,49.800000,6.000000,5.000000,6.000000,1.000000,2.000000,49.000000

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26036 entries, 0 to 26035
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   in           26036 non-null  int64
 1   ball         26036 non-null  float64
 2   batsmen      26036 non-null  object
 3   bowler       26036 non-null  object
 4   non_striker  26036 non-null  object
 5   runs         26036 non-null  int64
 6   extras       26036 non-null  int64
 7   total        26036 non-null  int64
 8   wicket       26036 non-null  int64
 9   kind         26036 non-null  object
 10  player_out   26036 non-null  object
 11  innings      26036 non-null  int64
 12  Team         26036 non-null  object
 13  match_no     26036 non-null  int64
dtypes: float64(1), int64(7), object(6)
memory usage: 2.8+ MB

In [104]:
df['batsmen'].unique()

array(['WU Tharanga', 'TM Dilshan', 'KC Sangakkara', 'DPMD Jayawardene',
       'TT Samaraweera', 'CK Kapugedera', 'KMDN Kulasekara',
       'NLTC Perera', 'V Sehwag', 'G Gambhir', 'SR Tendulkar', 'V Kohli',
       'MS Dhoni', 'Yuvraj Singh', 'SK Raina', 'Harbhajan Singh',
       'Z Khan', 'A Nehra', 'Kamran Akmal', 'Mohammad Hafeez',
       'Asad Shafiq', 'Younis Khan', 'Misbah-ul-Haq', 'Umar Akmal',
       'Abdul Razzaq', 'Shahid Afridi', 'Wahab Riaz', 'Umar Gul',
       'Saeed Ajmal', 'MJ Guptill', 'BB McCullum', 'JD Ryder',
       'LRPL Taylor', 'SB Styris', 'KS Williamson', 'NL McCullum',
       'JDP Oram', 'DL Vettori', 'TG Southee', 'AJ McKay', 'LPC Silva',
       'AD Mathews', 'AJ Strauss', 'IR Bell', 'IJL Trott', 'RS Bopara',
       'EJG Morgan', 'GP Swann', 'MJ Prior', 'LJ Wright', 'LJ Woodcock',
       'HM Amla', 'GC Smith', 'JH Kallis', 'AB de Villiers', 'JP Duminy',
       'F du Plessis', 'J Botha', 'RJ Peterson', 'DW Steyn', 'M Morkel',
       'Imran Tahir', 'SR Watson', 'BJ Haddin', 'RT Ponting', 'MJ Clarke',
       'MEK Hussey', 'CL White', 'DJ Hussey', 'MG Johnson', 'DS Smith',
       'CH Gayle', 'RR Sarwan', 'DM Bravo', 'S Chanderpaul', 'KA Pollard',
       'DC Thomas', 'DJG Sammy', 'D Bishoo', 'KAJ Roach', 'R Rampaul',
       'BRM Taylor', 'RW Chakabva', 'V Sibanda', 'T Taibu', 'CR Ervine',
       'E Chigumbura', 'GA Lamb', 'P Utseya', 'AA Obanda', 'DO Obuya',
       'CO Obuya', 'SO Tikolo', 'T Mishra', 'TM Odoyo', 'RR Patel',
       'NN Odhiambo', 'PJ Ongondo', 'E Otieno', 'JO Ngoche', 'YK Pathan',
       'R Ashwin', 'MM Patel', 'KA Edwards', 'AD Russell', 'SJ Benn',
       'SPD Smith', 'JJ Krejza', 'B Lee', 'SW Tait', 'MN van Wyk',
       'WD Parnell', 'LL Tsotsobe', 'Tamim Iqbal', 'Imrul Kayes',
       'Junaid Siddique', 'Shahriar Nafees', 'Mushfiqur Rahim',
       'Shakib Al Hasan', 'Mahmudullah', 'Naeem Islam', 'Shafiul Islam',
       'Abdur Razzak', 'Rubel Hossain', 'SL Malinga', 'M Muralitharan',
       'BAW Mendis', 'JEC Franklin', 'HK Bennett', 'ES Szwarczynski',
       'W Barresi', 'TLW Cooper', 'RN ten Doeschate', 'AN Kervezee',
       'PW Borren', 'AF Buurman', 'Mudassar Bukhari', 'PM Seelaar',
       'WTS Porterfield', 'PR Stirling', "NJ O'Brien", 'EC Joyce',
       'GC Wilson', "KJ O'Brien", 'JC Tredwell', 'TT Bresnan',
       'CT Tremlett', 'H Patel', 'JM Davison', 'ZE Surkari', 'A Bagai',
       'AS Hansra', 'NR Kumar', 'Rizwan Cheema', 'K Whatham',
       'HS Baidwan', 'WD Balaji Rao', 'H Osinde', 'CA Ingram',
       'JF Mooney', 'AR Cusack', 'DT Johnston', 'GH Dockrell',
       'WB Rankin', 'Ahmed Shehzad', 'TN de Grooth', 'Adeel Raja',
       'R Gunasekera', 'Khurram Chohan', 'MA Ouma', 'NO Miller',
       'AC Botha', 'PD Collingwood', 'A Shahzad', 'JM Anderson',
       'Raqibul Hasan', 'AG Cremer', 'RW Price', 'T Panyangara',
       'CB Mpofu', 'B Zuiderent', 'BP Kruger', 'JM How', 'KD Mills',
       'Abdur Rehman', 'Shoaib Akhtar', 'SR Waters', 'JK Kamande',
       'TG Gordon', 'AR White', 'KP Pietersen', 'MH Yardy', 'SCJ Broad',
       'CK Coventry', 'Mohammad Ashraful', 'BP Loots', 'BA Westdijk',
       'SO Ngoche', 'SC Williams', 'PP Chawla', 'HMRKB Herath',
       'DJ Bravo'], dtype=object)

In [105]:
mask = (df['Team'] == 'India') & (df['match_no'] == 49)

In [106]:
final_india = df[mask]

In [107]:
final_india.groupby(['batsmen','runs']).value_counts()

batsmen       runs  in   ball  bowler           non_striker   extras  total  wicket  kind  player_out  innings  Team   match_no
G Gambhir     0     3    0.4   SL Malinga       SR Tendulkar  0       0      0                         2        India  49          1
                    4    0.5   SL Malinga       SR Tendulkar  0       0      0                         2        India  49          1
                    5    0.6   SL Malinga       SR Tendulkar  0       0      0                         2        India  49          1
                    7    1.2   KMDN Kulasekara  SR Tendulkar  0       0      0                         2        India  49          1
                    8    1.3   KMDN Kulasekara  SR Tendulkar  1       1      0                         2        India  49          1
                                                                                                                                  ..
Yuvraj Singh  1     293  47.6  SL Malinga       MS Dhoni      0       1      0                         2        India  49          1
                    294  48.1  KMDN Kulasekara  MS Dhoni      0       1      0                         2        India  49          1
              2     280  45.5  SL Malinga       MS Dhoni      0       2      0                         2        India  49          1
              4     257  41.6  NLTC Perera      MS Dhoni      0       4      0                         2        India  49          1
                    285  46.4  KMDN Kulasekara  MS Dhoni      0       4      0                         2        India  49          1
Name: count, Length: 296, dtype: int64

In [109]:
indian_batting = final_india.groupby(['batsmen']).agg({"extras": 'sum',"runs" : 'sum'})

In [110]:
indian_batting.loc['Total'] = [indian_batting['extras'].sum(),indian_batting['runs'].sum()]

In [112]:
indian_batting

              extras  runs
batsmen
G Gambhir          5    97
MS Dhoni           3    91
SR Tendulkar       0    18
V Kohli            5    35
V Sehwag           0     0
Yuvraj Singh       2    21
Total             15   262